main {
  margin: 20px 100px 110px 100px;
}

.contact {
  width: 100%;
}
.comma {
  width: 50px !important;
  height: 50px !important;
}
.user {
  width: 50px !important;
  height: 50px !important;
}
.carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: initial;
}
.carousel-item img{
  height: 800px;
  border-radius: 10px;
}
