main {
  margin: 20px 20px 110px 10px;
}

.contact {
  width: 100%;
}
.comma {
  width: 50px !important;
  height: 50px !important;
}
.user {
  width: 50px !important;
  height: 50px !important;
}
.carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: initial;
}
.carousel-item img {
  height: 800px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .pt-5,
  .pb-3,
  .pt-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .carousel-item img {
    height: 500px;
    border-radius: 10px;
  }

  .navbar-nav {
    background-color: rgba(66, 129, 45, 0.583);
    width: 25%;
    border-radius: 10px;
  }
  .nav-item a {
    color: rgb(255, 255, 255);
  }
  .nav-item:hover {
    background-color: #88b6e5 !important;
    border-radius: 10px;
    margin: 10px;
  }
  .nav-item a:hover {
    background-color: #f8f9fa !important;
    color: red !important;
    border-radius: 10px;
  }
}
